@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('//basehold.it/29');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  text-decoration: none;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Start screen style */

/*
  Setting type according to a 3:4 (Major Third) Modular Scale:
	https://www.modularscale.com/?29&px&1.333
 */
html{
	font-family: 'Amiri', 'Hoefler Text', Georgia, 'Times New Roman', Times, Roman, serif;
	font-size: 16px;
	line-height: 29px;
	padding: 14.5px 14.5px 14.5px 14.5px;
}
h1{
	font-size: 51.53px;
	line-height: 43.5px;
	padding-bottom:29px;
}
p{
	padding-bottom: 29px;
}
ul{
	padding-bottom: 14.5px;
	list-style: disc;
	margin-left: 14.5px;
}
li{
	padding-bottom: 14.5px;
}
ul ul,
ul ul li{
	padding-bottom: 0;
}
ul ul{
	list-style: circle;
}
